/*container{
    width:100vw;
    height:60vh;
    /*background-image: url(../assets/images/img1.jpg);
    background-size: cover;
}
*/
.img{
    position: absolute;
    top: 10vh;
    left: 10vb;
   width: 400px;
   clip-path: circle();
   /* background-image: url(../assets/images/img1.jpg); */
   
}
.bg-img{
    position: relative;
    background: transparent;
}