<!-- <div id="container"></div> -->
<html lang="en">
<head>
  <meta charset="=UTF-8"/>
  <meta name="=viewport" content="width=device-width,initial-scale=1.0"/>
  <title>{{title}}</title>
  <link rel="stylesheet" href="app.component.css"/>
</head>
<body>

<div class="container">
  <div class="bg-img">
    <img class="img-responsive" src="../assets/images/img1.jpg"/>
  </div>
</div>
<div>
  <img class="img" src="../assets/images/img2.jpg"/>
</div>


<nav id="desktop-nav">
  <div>
    <ul>
      <li><a href="#about">About</a></li>
    </ul>
  </div>
</nav>

</body>
</html>